/* Google Fonts
font-family: 'Crimson Text', serif;
font-family: 'Noto Serif SC', serif;
font-family: 'PT Serif', serif;
font-family: 'Libre Baskerville', serif; */


body {
    background: url("../images/background-beverage-breakfast-414645.jpg")no-repeat center center fixed;
    background-size: cover;
    position: relative
}

#laptop {
    height: 50px;
    width: 75px;
}

#logo {
    height: 200px;
    width: 377px;
    margin-left: 16%;
}

.navbar {
    background-color: transparent!important
}

a.nav-link {
    font-weight: 500;
    font-size: 20px;
    color: white;
}

#avatar {
    border-radius: 50%;
    height: 200px;
    border-style: solid;
    border-width: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

p {
    font-weight: 500;
    margin-top: 30px;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}

img {
    opacity: 0.7;
}

#welcome {
    margin-top: 60px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 500
    margin-top: 25px;
    font-family: 'Noto Serif SC', serif;
}

.other-headers {
    font-size: 42px;
    margin-top: 25px;
    font-family: 'Noto Serif SC', serif;
    font-weight: 500;
    text-align: left;
}

.container {
    margin-left: 5%;
    margin-top: 7%;
}

.col-8 {
    background:#7f7f7f; 
    background:rgba(255,255,255,0.9);
}

.content {
    opacity: 0.9;
}

.card {
    margin-left: 11%;
}

.row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* four columns that float next to each other */
  .column {
    float: left;
    width: 50%;
    background:#7f7f7f;
    background:rgba(255,255,255,0.7);
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }

  /* Footer */
  .footer-main-div {
      width: 100%;
      height: auto;
      margin: auto;
      background: #272727;
      padding: 20px 0px;
  }

  .footer-social-icons {
      width: 100%;
      height: auto;
      margin: auto;
  }

  .footer-social-icons ul{
      margin: 0px;
      padding: 0px;
      text-align: center;
  }

  .footer-social-icons li{
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 10px 10px;
      border-radius: 100%;
      background: #32cd32;
  }

  .footer-social-icons ul li a{
      color: #272727;
      font-size: 25px;
  }

  .footer-social-icons ul li a i{
      line-height: 50px;
  }

  .container-fluid {
    background:#7f7f7f; 
    background:rgba(255,255,255,0.9);
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


